:root{
    overflow: scroll;
}
body {
    background: repeating-linear-gradient(#eeee7d, #eeee7d 25px, #0a79ac 26px, #0a79ac 28px); /* Notebook background */
    height: fit-content;
    position: relative;
    padding-bottom: 20vh;
    height: 100vh;
    width: fit-content;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: red;
    z-index: 0;
}
#policy{
    width: 85%;
    height: 100vh;
    margin-left: 2.5em;
    font-size: 14px;
    border: none;
    line-height: 28px;
}